#all {
	width: 80%;
	margin: 0 20% 0 0%;
}

#menu {
	width: 83%;
	left: 8%;
	right: 8%;
	height: 3.5%;
	position: absolute;
	background-color: #9696FF;
}

#space {
	background-image:url('resources/images/fondoserio.png');
    background-repeat:repeat;
	background-attachment:fixed;

	width: 83%;
	height: 88%;
	position: absolute;
	top: 5%;
	left: 8%;
}

body {
	background-image:url('resources/images/fondoverde.png');
    background-repeat:repeat;
	background-attachment:fixed;
}

#ulmenu {
	position: relative;
	margin-top: -0.9%;
	margin-left: -4%;
}

#olsubmissions {
	position: relative;
	margin-top: 0.5%;
	margin-left: -1.3%;
}

#limenu {
	display: inline-block;
	float: left;
	margin-left: 1px;
	font-family: Verdana;
	font-size: 13;
	color: black;
	text-overflow: clip;
	overflow: hidden;
	padding-left: 10px;
	margin-top: 0.1%;
}

#trdescription {
	font-family: Verdana;
	font-size: 10;
	color: gray;
}

#adescription {
	font-family: Verdana;
	font-size: 10;
	color: gray;
}

#auser {
	text-decoration: underline;
}

#adescription:hover {
	text-decoration: underline;
}

#lidescription {
	display: inline-block;
	float: left;
	font-family: Verdana;
	font-size: 10;
	color: gray;
	text-overflow: clip;
	overflow: hidden;
	margin-left: -1.5%;
	padding-left: 1.5%;
	margin-top: 0.4%;
}

#lititle1{
	display: inline;
}

a {
	text-decoration: none;
	color: black;
}

* {
	font-family: Verdana;
	font-size: 13;
}